
<div class="container">
    <div class="col-md-6 form">
      <h3>Dodaj nowe urządzenie</h3>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nazwa urządzenia" value="" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form-group">
          <select class="custom-select" id="inlineFormCustomSelectPref" [(ngModel)]="chosenCategory" [ngModelOptions]="{standalone: true}">
            <option selected>wybierz kategorie</option>
            <option *ngFor="let category of categories">
              {{category}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit"  class="btnSubmit" (click)="addDevice(name, chosenCategory)" value="Dodaj" />
        </div>
      </form>
  </div>
</div>
