.container{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.form{
  color: black;
  font-weight: 900;
  margin-left: 25%;
  width: 50%;
  padding: 5%;
  background: #0093b7;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
  color: black;
  font-weight: 900;
}
.custom-select{
  color: black;
  font-weight: 900;
}

.container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 900;
  outline:none;
}
.btnSubmit:hover{
  background-color: #a0c5cf;
}
