
h1{
  padding: 2%;
  display: flex;
  justify-content: center;
  color: white;
}

.navbar{
  margin-bottom: 2%;
}
.ng {
  background-color: #0093b7;
}

.btn {
  align-self: end;
  margin: 2%;
  padding: 1%;
}
