<body>
<nav class="ng navbar navbar-dark ">
  <h1><a class="navbar-brand" href="#">SERWIS SPRZETU ELEKRTRONICZNEGO</a></h1>
  <button *ngIf="!router.url.startsWith('/login')" type="button" class="btn " (click)="logout()">LOGOUT</button>
</nav>
</body>

<router-outlet></router-outlet>

