Jeżeli dane nie zostały zmienione, to domyślnie: <br/>
username: admin <br/>
hasło: admin
<form class="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <div class="form-group">
    <label>Username</label>
    <input [(ngModel)]="username" type="text" class="form-control" [ngModelOptions]="{standalone: true}"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" [ngModelOptions]="{standalone: true}"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Login</button>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>
