
<div  class = "info_div" >
  <div class="form-group">
    <input *ngIf="device.status=='ZEPSUTY'" type="submit"  class="btnSubmit stateChange" (click)="repairDevice(device.id)" value="Zmien status na sprawny" />
    <input *ngIf="device.status=='SPRAWNY'" type="submit"  class="btnSubmit stateChange" (click)="breakDevice(device.id)" value="Zmien status na zepsuty" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col">Kategoria</div>
      <div class="col-value">{{device.category}}</div>
    </div>
    <div class="row">
      <div class="col">Urządzenie nr.</div>
      <div class="col-value">{{device.id}}</div>
    </div>
    <div class="row">
      <div class="col">Nazwa</div>
      <div class="col-value">{{device.name}}</div>
    </div>
    <div class="row">
      <div class="col">Data dodania</div>
      <div class="col-value">{{device.added | date}}</div>
    </div>
    <div class="row">
      <div class="col">Status</div>
      <div *ngIf="device.status=='ZEPSUTY'" class="col-value"><span style="color: red">{{device.status}}</span></div>
      <div *ngIf="device.status=='SPRAWNY'" class="col-value"><span style="color: green">{{device.status}}</span></div>
    </div>
  </div>


  <hr color=" #005f89">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Parametr i wartość</span>
    </div>
    <input  id="typeahead-basic" type="text" placeholder="Wpisz parametr" class="form-control" [(ngModel)]="param" [ngbTypeahead]="search"/>
    <input type="text" aria-label="Last name" placeholder="Wpisz wartość" class="form-control" [(ngModel)]="value">
  </div>
<br/>
  <div class="form-group">
    <input type="submit"  class="btnSubmit" (click)="addParam(device.id,param,value)" value="Dodaj nowy parametr" />
  </div>


  <hr color=" #005f89">
  <input type="text"  aria-label="Last name" placeholder="napisz komentarz" class="form-control" [(ngModel)]="comment">
  <br/>
  <div class="form-group">
    <input type="submit"  class="btnSubmit" (click)="addCommentToDevice(device.id, comment)" value="Dodaj komentarz" />
  </div>
</div>
<div class="param_table">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="thSpecial" scope="col"  >Parametr</th>
      <th class="thSpecial" scope="col" >Wartość</th>
      <th class="thSpecial2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let parameter of device.parameters">
      <td>{{ parameter.name }}</td>
      <td>{{ parameter.value }}</td>
      <td><button type="button" class="btn btn-danger" (click)="deleteParamFromDevice(device.id, parameter.id)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="comment_table">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th class="thSpecial" scope="col"  >Komentarz</th>
      <th class="thSpecial" scope="col" >Stworzony</th>
      <th class="thSpecial2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comment of device.comments">
      <td style="width: 10%">{{ comment.comment }}</td>
      <td>{{ comment.createdOn | date  }}</td>
      <td><button type="button" class="btn btn-danger" (click)="deleteComment(comment.id)">X</button></td>
    </tr>
    </tbody>
  </table>
</div>



