h2{
  text-align: center;
  color: #0049aa;
  margin-bottom: 2%;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.info_div{
  width: 45%;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /*margin: 2.5%;*/
  padding: 1%;
  height: 50%;
  float: left;
  text-align: center;
  box-shadow: 10px 10px 46px -15px rgba(0,147,183,0.76);
}
.param_table {

  padding: 1%;
  width: 24%;
  max-height: 70%;
  overflow: hidden;
  float: left;
  text-align: center;
  border: #0049aa;
  border-radius: 2px;
}

.comment_table {
  padding: 1%;
  width: 25%;
  overflow: hidden;
  max-height: 70%;
  text-align: center;
}
.btn{
  display: block;
  margin: auto;
}

.btnSubmit{
  width: 30%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  color: black;
  background: #a0c5cf;
  font-weight: 900;
  outline:none;
}


.btnSubmit:hover {
  background: #0093b7;
}

.input-group-text {
  background: #a0c5cf;
}

.thSpecial {
  width: 40%;
  background: #a0c5cf;
}

.thSpecial2 {
  width: 20%;
  background: #a0c5cf;
}

.stateChange {
  width: 100%;
  background: #63cdd7;
}

.col {
  width: 50%;
  text-align: left;
}
.col-value{
  width: 50%;
  text-align: center;
  font-weight: bold;
}


