.input-group {
  width: 40%;
  margin-left: 20%;
  margin-right: 10%;
  float: left;
}
.input-group-text{
  background: #63cdd7;
  color: black;
}
.table{
  margin-top: 2%;
  width: 70%;
  margin-left: 15%;
  box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.75);
  text-align: center;
}
.table > tbody > tr:hover {
  background-color: #63cdd7;
}


