
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Wyszukaj po nazwie</span>
  </div>
  <input type="text" class="form-control"  (keyup)="applyFilter($event)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

<button  type="button"  class="btn btn-success" (click)="addDevice()">Dodaj nowe urządzenie</button>

<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col" >Name</th>
    <th scope="col" >Category</th>
    <th scope="col" >Creation Date</th>
    <th scope="col" >Status</th>
    <th scope="col" >device no.</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let device of devices index as i;" (click)="showDevice(devices[i].id)" >
    <td>{{ device.name }}</td>
    <td>{{ device.category }}</td>
    <td>{{ device.added | date }}</td>
    <td>{{ device.status  }}</td>
    <td>{{ device.id }}</td>
  </tr>
  </tbody>
</table>
